body {
    overflow: hidden;
    cursor: none;
}
.cursor{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58);
    opacity: 0;

    animation: cursor 500ms infinite;
}
@keyframes cursor {
    from{
        box-shadow: 0 0  4px 10px blue;
    }
    to{
        box-shadow: 0 0  4px 10px #4392a9;
    }

}
.cursor-fade{
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        background-color: white;
        opacity: 0;
    }
}